#header {
	width: 100%;
	height: auto;
	background-color:  #0D0D0D;
	position: fixed;
	top: 0;
	z-index: 100;
}

.logo {
	width: 16%;
	margin-left: 40px;
	float: left;
	padding: 30px 20px 20px 20px;
}

.search {
	width: 30%;
	float: right;
	margin-top: 30px;
}

.search input {
	width: 50%;
	margin-right: 10px;
	float: right;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('images/find.png');
	background-position: right;
	background-repeat: no-repeat;
	padding: 12px 30px 12px 40px;
}

.srarch input:focus {
	width: 100%;
}



#navi {
	height: auto;
	background: #00000f;	
}

#menu {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #426d9c), color-stop(40%, #0f67a1), color-stop(100%, #1384d1));
	background: -moz-linear-gradient(top, #426d9c, #0f67a1, #1384d1);*/
background: -moz-linear-gradient(top, #333333, #262626, #191919);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
	font-size: 1.5em;
	margin: 0 auto;
	z-index: 300;
}



#menu ul li {
	list-style-type: none;
	display: inline;
}

#menu ul li a {
	color: #fff;
	text-decoration: none;
	padding: 3px 20px;
	text-shadow: 1px 1px 1px #000;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.5s, 0.5s;
}

#navi ul li a:hover {
	background: #01458e;
	color: #ff0;
	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.5s, 0.5s;
}

.default {	
	width: 785px;
	height: auto;
	-webkit-box-shadow: 0 5px 20px #888;
	-moz-box-shadow: 0 5px 20px #888;
	box-shadow: 0 5px 20px #888;
	padding: 35px 0px;
}

.fixed {
	position: fixed;
	height: auto;
	top: 0px;
	left: 19%;
	width: 63%;
	-webkit-box-shadow: 0 0 40px #222;
	-moz-box-shadow: 0 0 40px #222;
	box-shadow: 0 0 40px #222;
	padding: 35px 0px;
	z-index: 2;
}

#menu a.nav-active {
	color: #ff0;;
}

.container3 {
    width: 100%;
}

.center { 
	position: absolute; 
	text-align: center;
	top: 400px;
	left: 500px;
	color: #fff;
	z-index: 1;
}
